.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.block {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px 0;
}
.flex {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    margin-left: 20px;
    margin-right: 35px;
}
.flex button {
    display: none;
}

.block {
    display: block;
    margin: 0 auto;
}
.sort > h4 {
    color: gray;
}

select{
    background-color: var(--color-gray);
    font-size: 15px;
    padding: 5px;
    border-radius: 7px;
}
.grid {
    margin-top: 20px;
    margin-right: 10px;
    color: var(--color-blue);
    cursor: pointer;
    transition: .3s ease-in-out all;
}
.grid:hover {
    color: var(--color-orangered);
}
@media only screen and (max-width: 768px) {
    .grid {
        display: none;
    }
    .sort {
        margin-right: 25px;
    }
    .flex button {
        display: block;
        margin: 0px 10px;
        margin-top: 18px;
        padding: 8px 30px;
        border: none;
        background-color: var(--color-orangered);
        color: #fff;
        border-radius: 7px;
        cursor: pointer;
        transition: .4s ease-in all;
    }
    .flex button:hover {
        background-color: var(--color-blue);
    }

}
