.btnCategory {
    border: 0;
    padding: 10px;
    display: block;
    width: 150px;
    margin: 10px;
    cursor: pointer;
    border-radius: 7px;
    background-color: var(--color-blue);
    color: #fff;
    transition: .1s ease-in all;
}
.btnCategoryClicked {
    background-color: var(--color-orangered);
}

.btnCategory:hover {
    background-color: var(--color-orangered);
}
.search {
    margin-right: 20px;  
    height: 50px;
}
.minMaxPrice {
    align-items: center;
    margin-right: 55px;
    margin-top: 20px;
}
.minMaxPrice > h4,
.minMaxPrice > p {
    margin-bottom: 10px;
}

