.cardDetails {
    display: flex;
    width: 60%;
    margin-top: 100px;
    margin-left: 102px;
    box-shadow: 0 0 35px var(--color-blue);
    border-radius: 3%;
    padding: 20px;
}

.spinner {
    margin-top: 100px;
}
.content {
    left: 150px;
    margin-left: 50px;
    text-align: left;
}
.content h2 {
    margin-bottom: 100px;
}
.content button {
    margin-top: 10px;
}
.content > h3 {
    padding: 10px;
    text-align: right;
}
@media  screen and (max-width: 650px) {
    .cardDetails {
        width:90%;
    }
}
