.product {
    display: flex;
    justify-content: space-between;

}
.main {
    width: 76%;
}
aside {
    width: 23%;
}
.spinner {
    margin-top: 100px;
}
@media screen and (max-width: 768px) {
    .main {
        margin: 0 auto;
    }
}


