.search {
    margin: 1.7rem 0rem;
}
.search input[type="text"] {
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 6px;
    border: 4px;
    width: 190px;
}
.search input[type="text"]:focus {
    background-color: #fff;
}
